html,
body {
  margin: 0px;
  height: 100%;
  background-image: url(images/pexels-markus-spiske-3806768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
p {
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  text-shadow: 2px 2px 2px black;
}
#counter {
  font-size: 200px;
  text-shadow: 2px 3px 3px red;
}
#lap-btn {
  display: flex;
  justify-content: center;
  
}
button {
  font-size: 60px;
  padding: 15px 125px;
  margin: 20px;
  background: linear-gradient(90deg,#e9d022, #e60b09);
  color: white;
}
