html,
body {
  margin: 0px;
  min-height: 100%;
  background-image: url(images/pexels-markus-spiske-3806768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
p {
  font-family: "Racing Sans One", sans-serif;
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 32px;
  padding-top: 30px;
  text-shadow: 2px 2px 2px black;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
#counter {
  font-size: 150px;
  text-shadow: 2px 3px 3px red;
  color: white;
}
.fx-btns {
  display: flex;
  justify-content: center;
}

button {
  font-size: 50px;
  padding: 5px 70px;
  margin: 20px;
  background: linear-gradient(90deg, #e9d022, #e60b09);
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Racing Sans One", sans-serif;
}
.adjustLaps {
  padding: 0px 10px;
  background: white;
}
